synthesis-a89ec-firebase-adminsdk-7rxn2-340276533d.json
__pycache__
.devcontainer
get_data.py
GeoDiv_survey_responses.csv
VQA_HS.csv
VQA_HS1.csv
get_accuracy.py
get_data.py
GeoDiv_survey_responses_India.csv
get_ceviscores.py
get_accuracy.py
Affluence_India.csv

